<h1>Subscribe</h1>

<% if current_user.card_last4? %>
  <%= form_with url: subscription_path, id: "existing-card" do |form| %>
    <p>Pay with existing card</p> 
    <div><strong>Card on file:</strong> <%= current_user.card_brand %> (**** **** **** <%= current_user.card_last4 %>)</div>
    <div><strong>Expiration:</strong> <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
    <p>or <%= link_to "Add a new card", "#", class: "show-card-form" %></p><!-- No link, handled by javascript -->
    
    <%= hidden_field_tag :plan, params[:plan] %>
    <button class="btn btn-primary">Submit Payment</button>
 <% end %>
<% end %>

<%= form_with url: subscription_path, id: "payment-form", class: (current_user.card_last4? ? "none" : nil) do |form| %>
  <div class="form-row mt-4">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element" class="form-control">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <%= hidden_field_tag :plan, params[:plan] %>

  <button class="btn btn-primary">Submit Payment</button>


<% end %>


